{% extends "layouts/base.html" %}
{% load static %}
{% load date_filters %}
{% block title %}Accueil{{ block.super }}{% endblock %}
{% block meta_description %}
    Entraide, information et apprentissage pour les professionnels de l'Insertion par l'Activité Economique. Améliorer sa pratique professionnelle d’accompagnateurs de personnes éloignées de l’emploi.
{% endblock meta_description %}
"
{% block body_class %}p-home{{ block.super }}{% endblock %}
{% block content %}
    {% url 'documentation:index' as documentation_url %}
    <section class="s-home-title-01 s-home-title-01--communaute mb-md-6 mb-lg-10" style="--home-title-bg: url({% static 'images/commu-home-illu-02b-light.png' %})">
        <div class="s-home-title-01__container container container-max-lg">
            <div class="s-home-title-01__row row">
                <div class="s-home-title-01__col col-12 col-md-8 col-lg-7 mb-4">
                    <h1 class="h1-hero">La base de connaissance des professionnels de l’inclusion</h1>
                    <p class="lead mb-md-5">
                        Améliorez votre pratique professionnelle d’accompagnateurs de personnes éloignées de l’emploi
                    </p>
                    <form action="{% url 'search:index' %}" role="search" class="s-home-title-01__form">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group input-group-lg flex-nowrap">
                                    <div class="input-group-text bg-white rounded-start ps-0 pe-2">
                                        <i class="ri-map-pin-line ri-lg text-disabled" aria-hidden="true"></i>
                                    </div>
                                    <div class="input-group-text bg-white p-0 flex-grow-1">
                                        <input type="search" class="form-control"  placeholder="Chercher dans la communauté" name="q" aria-describedby="homeSearchBtn">
                                        <button class="btn btn-ico btn-primary matomo-event"
                                                type="submit"
                                                id="homeSearchBtn"
                                                aria-label="Chercher dans la communauté"
                                                data-matomo-category="engagement"
                                                data-matomo-action="search"
                                                data-matomo-option="submit_query_header_hp">
                                            <i class="ri-search-line fw-bold" aria-hidden="true"></i>
                                            <span class="d-none d-sm-inline-flex me-0 me-sm-1">Rechercher</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="s-section my-5 my-md-9">
        <div class="s-section__container container container-max-lg">
            <div class="s-section__row row align-items-center">
                <div class="s-section__col d-none d-md-inline col-md-4 pe-4">
                    <img src="{% static 'images/home-title-01-illu-card-03.png' %}" class="img-fluid" alt="">
                </div>
                <div class="s-section__col col-12 col-md-8">
                    <p class="h1 text-tertiary">Vous recherchez un emploi inclusif&nbsp;?</p>
                    <p class="mb-4">
                        Ce ne sera pas long !
                        <br>
                        Inscrivez-vous et accédez à toutes les fonctionnalités du site des emplois de l'inclusion.
                    </p>
                    <ul class="list-unstyled mb-5">
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill"></i>
                            <span class="fw-bold ms-2">Créer votre espace candidat</span>
                        </li>
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill"></i>
                            <span class="fw-bold ms-2">Rechercher les offres d'emploi à proximité de votre ville</span>
                        </li>
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill"></i>
                            <span class="fw-bold ms-2">Candidatez aux offres !</span>
                        </li>
                        <li class="d-flex mb-2">
                            <i class="text-success ri-checkbox-circle-fill"></i>
                            <span class="fw-bold ms-2">N'oubliez pas de faire valider votre élégibilité par votre conseiller France Travail.</span>
                        </li>
                    </ul>
                    <a href="https://emplois.inclusion.beta.gouv.fr/signup/job_seeker/situation" class="btn btn-outline-primary">Je crée mon espace candidat sur le site des emplois</a>
                </div>
            </div>
        </div>
    </section>
    <section class="s-banner-01 my-5 my-md-9">
        <div class="s-banner-01__container container container-max-lg">
            <div class="s-banner-01__row row g-0">
                <div class="s-banner-01__col col-12 pe-md-0">{% include "pages/banners/collab_dora.html" %}</div>
            </div>
        </div>
    </section>
    <section class="s-section my-5 my-md-9">
        <div class="s-section__container container container-max-lg">
            <div class="s-section__row row align-items-center">
                <div class="s-section__col d-none d-md-inline col-md-4 pe-4">
                    <img src="{% static 'images/home-illu-01.png' %}" class="img-fluid" loading="lazy" alt="">
                </div>
                <div class="s-section__col col-12 col-md-8" id="updated_forums">
                    <p class="h1 text-tertiary">De nombreuses fiches pratiques</p>
                    <ul class="list-group list-group-flush list-group-link mb-3 mb-md-4">
                    </ul>
                    <a href="{{ documentation_url }}"
                       class="btn btn-outline-primary matomo-event"
                       data-matomo-category="engagement"
                       data-matomo-action="view"
                       data-matomo-option="documentation"
                       class="btn btn-outline-primary">Voir toute la documentation</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
