<div class="alert alert-warning" role="status">
    <div class="row">
        <div class="col-auto pe-0">
            <i class="ri-information-line ri-xl text-warning" aria-hidden="true"></i>
        </div>
        <div class="col">
            <p class="mb-0">
                L’espace d’échange de la communauté de l’inclusion est dorénavant fermé, vous ne pouvez pas poster de nouveau message.
                <br>
                Pour toutes vos questions en lien avec un PASS IAE, vous pouvez consulter la rubrique d’aide en ligne des <a href="https://aide.emplois.inclusion.beta.gouv.fr/hc/fr" data-matomo-category="clap_fin" data-matomo-action="clic" data-matomo-option="emplois">Emplois de l’inclusion</a>
                <br>
                Pour toutes vos questions en lien avec le métier de CIP, vous pouvez contacter Gérald <a href="https://lelabodescip.fr/community/" data-matomo-category="clap_fin" data-matomo-action="clic" data-matomo-option="labo_cip">sur le labo des CIP</a>
            </p>
        </div>
    </div>
</div>
